h1 { color: blue; }
* { color: brown; }
.lista { color: pink; }
#jatkuu { color: red; }

.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position: absolute;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  margin-left: 220px; 
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position: absolute;
  margin-left: 440px; 
}