body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h2 {
  color: #333;
  margin-top: 1em;
  padding-top: 1em;
}

.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  color: #0000ff;
  border-width: 10px; 
  border-style: solid;
  border-color: green; 
  padding-top: 30px;
}

.second-box-container {
  padding-top: 30px;
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  margin-left: 250px; 
  text-transform: uppercase;
  text-align: center;
  color: #0000ff;
  border-width: 10px; 
  border-style: solid;
  border-color: red;  
}

.third-box-container {
  width: 200px;
  height: 100px;
  padding-top: 30px;
  background-color: green;
  position: absolute;
  margin-left: 500px; 
  text-transform: uppercase;
  text-align: center;
  color: #0000ff;
  border-width: 10px; 
  border-style: solid;
  border-color: yellow;
}